{% block subject %}
Password reset on {{ site_name }}
{% endblock subject %}

{% block text_body %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}/{{ url }}
Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using our site!
{% endblock text_body %}

{% block html_body %}
<p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
<p>Please go to the following page and choose a new password:</p>

{% autoescape off %}
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>
{% endautoescape %}

<p>Your username, in case you've forgotten: <b>{{ user.get_username }}</b></p>

<p>Thanks for using our site!</p>
{% endblock html_body %}
